<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joelimyx.subbox">

    <!-- Enable Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainlist.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Search enabler -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>

                <!-- End of search enabler -->
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".checkout.CheckOutActivity"
            android:label="@string/title_activity_check_out"
            android:parentActivityName=".mainlist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainlist.MainActivity"/>
        </activity>
        <activity
            android:name=".detail.DetailScrollingActivity"
            android:label="@string/title_activity_detail_scrolling"
            android:parentActivityName=".mainlist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joelimyx.subbox.mainlist.MainActivity"/>
        </activity>
        <activity
            android:name=".history.HistoryActivity"
            android:label="@string/title_activity_history_activity"
            android:parentActivityName=".mainlist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joelimyx.subbox.mainlist.MainActivity"/>
        </activity>
        <activity
            android:name=".transactiondetails.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:parentActivityName=".history.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joelimyx.subbox.history.HistoryActivity"/>
        </activity>
    </application>

</manifest>